In [1]:
num = 100

In [2]:
if num == 100:
 print('One hundred')
else:
 print('This number is not one hundred')

One hundred

In [3]:
ls = [1, 2, 3, 4, 10]

In [4]:
6 in ls

False

In [5]:
9 not in ls

True

In [6]:
if 5 in ls:
     print(5)
else:
    print('not in list')

not in list

In [7]:
ls = ls[:3]
ls

[1, 2, 3]

In [8]:
sum(ls)

6

In [9]:
if sum(ls) == 0:
    print('The sum of elements is zero')
elif sum(ls) < 10:
    print('The sum is less than 10')
else:
    print('The sum is not within 0-10')

The sum is less than 10

In [10]:
ls.extend([10, 11, 20, 18])

In [11]:
ls

[1, 2, 3, 10, 11, 20, 18]

In [13]:
for el in ls:
    print(el)

1
2
3
10
11
20
18

In [15]:
for i in range(2, 22):
    print (i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [24]:
for i in range(13):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [25]:
ls2 = [i for i in range(13)]
ls2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [30]:
for i in range(9):
    i += 5
    print(i)

5
6
7
8
9
10
11
12
13

In [36]:
for i in range(9):
    i *= 5
    print(i)

0
5
10
15
20
25
30
35
40

In [31]:
num1 = 1
while num1 < 25:
    print(num1)
    num1 += 5

1
6
11
16
21

In [37]:
num1 = 1
while num1 < 625:
    print(num1)
    num1 *= 5

1
5
25
125

In [23]:
num1 = 8
if num1 < 15:
    print(num1)
    num1 += 1
else:
    print('The number is greater than 15')

8

In [28]:
num1 = 25
while num1 > 20:
    print(num1)
    num1 -= 1

25
24
23
22
21

In [38]:
ls3 = [i for i in range(10)]
ls3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]